@page "/cascadeparametersdemo"
@rendermode InteractiveServer

<h3>CascadeParametersDemo</h3>

<h2>No cascading</h2>
<NoCascadingParameter Parameter="@_valueToCascade" />
<NoCascadingParameter Parameter="@_valueToCascade" />
<NoCascadingParameter Parameter="@_valueToCascade" />

<br/>
<br/>
<h2>With cascading</h2>
<CascadingValue Value="@_valueToCascade">
    <WithCascadingParameter />
    <WithCascadingParameter />
    <WithCascadingParameter />
</CascadingValue>

<br/>
<br/>
<h2>With cascading and name</h2>
<CascadingValue Value="@_valueToCascade" Name="CParameter">
    <WithCascadingParameterAndName />
    <WithCascadingParameterAndName />
    <WithCascadingParameterAndName />
</CascadingValue>

<br/>
<br/>
<h2>With cascading and fixed</h2>
<CascadingValue Value="@_valueToCascade" IsFixed="true">
    <WithCascadingParameter />
    <WithCascadingParameter />
    <WithCascadingParameter />
</CascadingValue>

<br/>
<br/>
<h2>With root level cascading</h2>
<WithRootLevelCascading />
<WithRootLevelCascading />
<br/>
<br/>

<button class="btn btn-primary" @onclick="@UpdateValueToCascade">
    Update ValueToCascade
</button>

@code {
    string _valueToCascade = "Hello";

    private void UpdateValueToCascade()
    {
        _valueToCascade = "Hello to you too!!!";
        Console.WriteLine("UpdateValueToCascade()");
    }
}